<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chrisfinke.reenact" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name=".IntroActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureActivity"
            android:parentActivityName=".IntroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrisfinke.reenact.IntroActivity" />
        </activity>
        <activity
            android:name=".ConfirmActivity"
            android:parentActivityName=".CaptureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrisfinke.reenact.CaptureActivity" />
        </activity>
        <activity android:name=".ShareActivity"
            android:parentActivityName=".IntroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrisfinke.reenact.IntroActivity" />
        </activity>
        <activity android:name="com.chrisfinke.reenact.HelpActivity"/>
    </application>

</manifest>
