@keyframes inout {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	overflow: hidden;
}

body {
	font-size: 1rem;
	background: #000;
	color: #fff;
}

#loading {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	opacity: .75;
	background-color: #000;
	border-radius: 50%;
	z-index: 100;
}

.content-area {
	margin: 0;
	text-align: center;
}

#reenacter {
	position: relative;
}

.app-screen {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
}

#screen-intro {
	background-color: #00c755;
	background-image: url(../img/icons/icon512x512.png);
	background-size: 50%;
	background-position: center 33%;
	background-repeat: no-repeat;
	text-align: center;
}

body[orientation=landscape] #screen-intro {
	background-size: auto 50%;
}

#choose-instructions {
	position: absolute;
	left: 50%;
	bottom: 15%;
	background-color: #000;
	border-radius: 2px;
	border-color: transparent;
	border-style: solid;
	text-transform: uppercase;
	transform: translateX(-50%);
	font-size: 80%;
	white-space: nowrap;
	padding: .75ex 3ex;
	box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.5);
}

#choose-photo {
	display: none;
}

#viewfinder {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}

#viewfinder.fading {
	animation-direction: normal;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-name: inout;
	animation-timing-function: linear;   
}

#original-photo {
	z-index: 5;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

div.buttons {
	background-color: #1b1b1b;
}

#screen-next-step div.buttons {
	background-color: #000;
}

button {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 75%;
	background-color: transparent;
	border: none;
}

button.primary {
	background-size: 100%;
	width: 1in;
	height: 1in;
}

button.secondary {
	width: .6in;
	height: .6in;
}

button.tertiary {
	width: .6in;
	height: .6in;
}

button:active {
	opacity: .75;
}

button.primary:active {
	background-size: 100%;
}

#back-button {
	background-image: url(../img/icons/back.png);
}

#restart-button {
	background-image: url(../img/icons/restart.png);
}

#share-button {
	background-image: url(../img/icons/share.png);
	border-radius: 50%;
	background-color: #00c755;
	background-size: 75%;
	width: .75in;
	height: .75in;
}

#camera-switch {
	background-image: url(../img/icons/camera-switch.png);
}

body[cameraCount='1'] #camera-switch {
	display: none;
}

#shutter-release {
	background-image: url(../img/icons/camera-circle.png);
}

#shutter-release:active {
	background-image: url(../img/icons/camera-circle-active.png);
}

#cancel-button {
	background-image: url(../img/icons/back.png);
}

#confirm-button {
	background-image: url(../img/icons/checkmark.png);
}

.content-area h1 {
	position: static;
	top: 1ex;
	text-align: center
}

	body[orientation=landscape] .content-area {
		height: 100%;
		width: calc( 100% - 10% - 1in );
	}

	body[orientation=landscape] div.buttons {
		margin: 0 5%;
		height: 100%;
		width: 1in;
		position: absolute;
		right: 0;
		top: 0;
	}

	body[orientation=landscape] div.buttons .primary {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	
	body[orientation=landscape] div.buttons .secondary {
		position: absolute;
		left: calc( ( 1in - .6in ) / 2 );
		bottom: 5%;
	}
	
	body[orientation=landscape] div.buttons .tertiary {
		position: absolute;
		right: calc( ( 1in - .6in ) / 2 );
		top: 5%;
	}
	
	body[orientation=landscape] #photo-final, body[orientation=landscape] #photo-final-confirm {
		max-width: 100%;
		max-height: 100%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}


	body[orientation=portrait] .content-area {
		width: 100%;
		height: calc( 100% - 10% - 1in );
	}

	body[orientation=portrait] div.buttons {
		margin: 5% 0;
		width: 100%;
		height: 1in;
		position: absolute;
		bottom: 0;
	}

	body[orientation=portrait] div.buttons .primary {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	
	body[orientation=portrait] div.buttons .secondary {
		position: absolute;
		top: calc( ( 1in - .6in ) / 2 );
		left: 5%;
	}
	
	body[orientation=portrait] div.buttons .tertiary {
		position: absolute;
		top: calc( ( 1in - .6in ) / 2 );
		right: 5%;
	}
	
	body[orientation=portrait] #photo-final, body[orientation=portrait] #photo-final-confirm {
		max-width: 100%;
		max-height: 100%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
